*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: #f6f8fa;
}
/* Header Section */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Photos/mainBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 125vh;
    position: relative;
}
/* navigation bar */
header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
}
/* Logo Design */
header nav img{
    height: 45px;
    width: 120px;
}
header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
header nav ul li a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 50px;
    font-size: 18px;
}
/* header Content Area */
header .header_content{
    color: #ffffff;
    margin-left: 150px;
    margin-top: 85px;
}
header .header_content h1{
    font-size: 72px;
    margin-bottom: 30px;
}
header .header_content p{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
    width: 410px;
}
header .header_content button{
    background: #6663e9;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    color: #ffffff;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
/* Logo Section */
.logo_section{
    background-color: #ffffff;
    margin: 0 35px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    position: relative;
    bottom: 100px;
}
.logo_section img{
    width: 156px;
    height: 90px;
}
/* card Section */
.card h1{
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.02;
}
.card_section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    position: relative;
}
.card_section .card_img{
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
}
.card_section .card_img img{
    width: 366px;
    height: 400px;
    border-radius: 20px;
}
.card_section .card_img:nth-child(2){
    margin-top: 50px;
}
.card_section .card_img:nth-child(3){
    margin-top: 100px;
}
.card_section .card_img:nth-child(4){
    margin-top: 160px;
}
.card_section .card_img:nth-child(5){
    margin-top: 100px;
}
.card_section .card_img:nth-child(6){
    margin-top: 40px;
}
.card_section .card_img:nth-child(7){
    margin-top: 40px;
}
.card_section .card_img:nth-child(8){
    margin-top: 100px;
}
.card_section .card_img:nth-child(9){
    margin-top: 160px;
}

.card_section .card_img .card_box{
    width: 326px;
    height: 121px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 120px rgba(58, 86, 78, 0.2);
    position: absolute;
    bottom: -60px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_section .card_img .card_box h1{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}
.card_section .card_img .card_box p{
    font-weight: 800;
    font-size: 20px;
    color: #6663e8;
    text-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
}
.card_section .card_img .card_box button{
    font-weight: 800;
    font-size: 18px;
    width: 114px;
    height: 52;
    background-color: #6663e9;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    color: #ffffff;
}

/* Features Section */
.features_section_first{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
.features_section_first div{
    width: 50%;
}
.features_section_first .features_img1{
    position: absolute;
    left: -80px;
    z-index: -1;
    width: 726px;
    height: 456px;
}
.features_section_first .features_img2{
    position: relative;
    width: 405px;
    height: 405px;
    border-radius: 51px;
    bottom: 55px;
    left: 110px;
}
.features_section_first h1{
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
}
.features_section_first p{
    font-weight: 500;
    font-size: 18px;
    color: #585c65;
    margin-bottom: 40px;
    max-width: 80%;
}
.features_section_first button {
    font-weight: 700;
    background: #6663e9;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    color: #ffffff;
    font-size: 18px;
}

/* second Section design */
.features_section_second{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 250px;
}
.features_section_second div:first-child{
    padding: 0 50px;
    width: 50%;
}
.features_section_second div:last-child{
    position: relative;
}
.features_section_second h1{
    width: 90%;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
}
.features_section_second p{
    font-weight: 500;
    font-size: 18px;
    color: #585c65;
    margin-bottom: 40px;
    max-width: 80%;
}
.features_section_second button{
    background: #6663e9;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}
.features_section_second .second_img1{
    position: absolute;
    right: 0;
    width: 726px;
    height: 456px;
    bottom: -220px;
}
.features_section_second .second_img2{
    position: absolute;
    width: 405px;
    height: 405px;
    border-radius: 51px;
    right: 135px;
    bottom: -110px;
}
/* newsletter Design */
.newsletter{
    margin: 100px 70px;
    background: #6663e9;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 70px 0;
    color: #ffffff;
    text-align: center;
}
.newsletter h1{
    font-weight: 800;
    font-size: 60px;
}
.newsletter p{
    font-weight: 400;
    font-size: 18px;
    width: 55%;
}
.newsletter form{
    display: flex;
    align-items: center;
    gap: 20px;
}
.newsletter form div{
    display: flex;
    align-items: center;
    gap: 20px;
    background: #5654d1;
    border-radius: 40px;
    width: 468px;
    height: 61px;
    padding: 0 20px;
}
.newsletter form input{
    background-color: transparent;
    border: none;
}
.newsletter form button{
    background-color: #ffffff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    width: 174px;
    height: 61px;
    color: #6663e9;
    border: none;
    padding: 10px 30px;
    font-weight: 800;
    font-size: 18px;
}
/* footer Section */ 

footer{
    display: flex;
    align-items: flex-start;
    margin: 0 100px;
    justify-content: space-between;
    margin-bottom: 80px;
}
/* left section */
footer .left{
    display: flex;
    flex-direction: column;
    gap:30px;
}
footer .left img{
    width: 150px;
}
footer .left .social img{
    width: 45px;
    height: 45px;
    margin-right: 20px;
}
footer .left p{
    width: 323px;
    font-weight: 400;
    font-size: 20px;
}
/* Right section */
footer .right{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 120px;
}
footer .right .footer_link{
    display: flex;
    flex-direction: column;
}
footer .right .footer_link ul li{
    margin-bottom: 25px;
    list-style: none;
}
footer .right .footer_link .head{
    font-weight: 700;
    font-size: 20px;
}
footer .right .footer_link li a{
    color: black;
    text-decoration: none;
}